html {
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
} 
body { 
    padding: 0;
}
body, button {
    font-family: '8bitOperator JVE', 'Source Sans Pro', sans-serif;
}
button {
    background-color: #4681f4;
    background: linear-gradient(135deg, rgba(59,0,255,1) 0%, rgba(0,148,255,1) 100%);
    border-radius: 4px;
    color: white; 
    border: none;
    margin: 2px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: max(2.2vmin, 20px);
    transition: all 0.2s ease;
} 
button:active {
    background: #0094FF;
}
button:hover {
    transform: scale(1.05) perspective(1px)
}
#logo {
    object-fit: contain;
    height: 50px;
    max-width: 95%;
    margin-top: 10px;
}
.menuLinks {
    height: 40px;
    max-width: 100%;
    width: 1440px;
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(0,148,255,1) 100%);
    margin: 10px auto;
    box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    position: relative;
    z-index: 1;        
    scrollbar-width: none;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch; /* For smooth scrolling on iOS */
}
.links, .socials {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 14px;
}
.links a div * {
    vertical-align: middle;
}
.menuLinks a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    white-space: nowrap;
}
.menuLinks a:hover {
    color: #FF6A00;
}
.headerIcon {
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    filter: drop-shadow(1px 2px 3px rgb(0 0 0 / 0.5));
}
.mail {
    filter: drop-shadow(3px 5px 2px rgba(255, 255, 255, 0.4)) invert(1);
}
.main {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 1440px;
    text-align: center;
    margin: auto;
    gap: 8px;
}
.section {
    border: 4px solid rgba(0,0,0,0.5);
}
.about {
    padding: 8px 8px 8px 8px;
    height: 100%;
    max-height: 100%;
    font-size: 22px;
    text-align: left;
    display: flex;
    gap: 8px;
    max-width: 100%;
    flex-direction: column;
}
#daxLogo {
    height: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 8px 8px 8px 8px;
    margin: 8px 8px 8px 8px;
    float: right;
}
@media (max-width: 1000px) {
    .main {
        flex-wrap: wrap;
        margin-left: 8px;
        margin-right: 8px;
    }
    .marqueeHolder {
        margin-left: 8px !important;
        margin-right: 8px !important;
    }
    .sidebar {
        width: 100%;
    }
    .menuLinks {
        justify-content: flex-start;
    }
}
@media (max-width: 1440px) {
    .main {
        margin-left: 8px;
        margin-right: 8px;
    }
    .marqueeHolder {
        margin-left: 8px !important;
        margin-right: 8px !important;
    }
}
.sidebar {
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    gap: 8px;
    flex: 1.2 3;
    max-width: 100%;
}
.discordWidget {
    padding: 8px 8px 8px 8px;
    max-width: 100%;
    font-size: 24px;
    margin: 0;
}
.widgetMembers {
    gap: 4px;
    display: flex;
    flex-direction: column;
    margin-top: 8px;
}
.widgetMember {
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    border: 2px solid black;
    padding: 2px 2px 2px 2px;
    border-radius: 4px;
    text-wrap: nowrap;
}
.widgetMember img {
    max-height: 24px;
    border-radius: 4px;
}
.embeds {
    padding: 8px 8px 8px 8px;
    height: 100%;
    display: flex;
    gap: 8px;
    flex-direction: column;
}
.audioPlayer {
    padding: 8px 8px 8px 8px;
    height: 100%;
    max-width: 100%;
}
.ytEmbeds {
    aspect-ratio: 16/9;
    border-radius: 4px; 
    margin-left: 5px;
    margin-right: 5px;
}
.ytPlaylistEmbed {
    display: flex;
    flex-direction: column;
}
#playlistselection {
    width: inherit; 
    background: #FF6A00;
    color: white;
    border-radius: 4px;
    font-size: 22px;
    font-family: '8bitOperator JVE';
}
.firstSection {
    max-width: 100%;
    margin-bottom: auto;
    flex: 3 1 200px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.dropdown {
    height: auto;
    z-index: 99999;
    position: relative;
}
.dropdownLinks {
    position: absolute;
    border-radius: 4px;
    background: rgba(0,0,0,0.8);
    min-width: 100px;
    height: auto;
    padding: 8px 8px 8px 8px;
    flex-direction: column;
    z-index: 9999;
    box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    text-align: end;
    min-height: fit-content;
    overflow-y: auto;
    font-size: 24px;
    text-wrap: wrap;
    left: -240px;
    display: none;
    max-width: 300px;
}
.dropdownLinks a {
    color: white;
    text-decoration: none;
}
.dropdownLinks a:hover {
    color: #FF6A00;
    text-decoration: underline;
}
#audio {
    margin-top: 10px;
    font-family: '8bitOperator JVE';
}
#waveform {
    min-width: 300px;
    padding-left: 10px;
    padding-right: 10px;
}
.audioControls {
    padding-left: 8px;
    height: 30px;
    color: white;
    flex-wrap: wrap;
}
#audioFilename {
    margin-top: 0;
    text-wrap: balance;
}
.mainAudio {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 24px;
    flex-wrap: wrap;
}
.statusBadges {
    margin: auto;
    margin-left: 0;
    overflow-x: auto;
    max-width: 100%;
}
.funbuttons {
    padding: 8px 8px 8px 8px;
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
}
.funbuttons, .funbuttons img {
    width: auto;
    gap: 8px;
    height: 40px;
}
.funbuttons a {
    width: auto;
}
.online {
    border: 2px solid #23a55a;
}
.idle {
    border: 2px solid #f0b232;
}
.dnd {
    border: 2px solid #f23f43;
}
#dropdownToggle:hover #dropdownContent {
    display: block;
}
#quote {
    font-size: 24px;
    cursor: pointer;
    text-wrap: wrap;
    padding: 0 8px 0 8px;
}
.sidebarSection {
    max-width: 100%;
}
/* .otherPages {
    border: 4px solid rgba(0,0,0,0.5);
    padding: 8px 8px 8px 8px;
    height: 100%;
    display: flex;
    gap: 8px;
    flex-direction: column;
} */
    
/* LastFM widget */
lastfm-tracks {
    box-sizing: border-box;
    border: 0;
    max-height: 500px;
    overflow: hidden; 
    margin: 8px;
    border-radius: 4px;
}


/* Dax interjects! 
@media (prefers-color-scheme: dark) {
    #playlist > div.trackinfo {
        background-color: #121212;   
    }
    #playlist a {
        color: rgba(221, 221, 221, 1);
    }
    #playlist > div.albuminfo:hover {
        background-color: #3b3b3b;
    }
    #playlist > div.trackinfo:hover {
        background-color: #3b3b3b;
    }
    #playlist > div.trackinfo.nowplaying {
        background-color: #3b3b3b;
    }
    #playlist > div.trackinfo.nowplaying:hover {
        background-color: #3b3b3b;
    }
}
*/

@keyframes horizontalScroll {
    0% {
        transform: translateX(0%) translateY(0%);
    }
    100% {
        transform: translateX(-100%) translateY(0%);
    }
}

.marqueeHolder {
    max-width: 1440px;
    text-align: center;
    margin: auto;
    gap: 8px;
    margin-bottom: 8px;
    box-sizing: border-box;
}
.newsMarquee {
    text-align: left;
    padding: 8px;
    overflow: hidden;
    height: 40px;
    max-width: 100%;
    width: 1440px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    white-space: nowrap;
}
.scroller {
    font-size: 24px;
    height: 30px;
    white-space: nowrap;
    animation: horizontalScroll infinite 60s linear;
    overflow: hidden;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: baseline;
}
.scroller span {
    line-height: 30px;
}